<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_address_collect_totals_before">
        <observer name="restrict_sales_model_cart_add_before" instance="Magenable\CustomerRestrict\Observer\CartAddRestrict" />
    </event>
</config>